<p id="notice"><%= notice %></p>

<p>
  <strong>Battery status:</strong>
  <%= @boat.battery_status %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @boat.speed %>
</p>

<p>
  <strong>Compass:</strong>
  <%= @boat.compass %>
</p>

<%= link_to 'Edit', edit_boat_path(@boat) %> |
<%= link_to 'Back', boats_path %>
