<%= form_for(collect) do |f| %>
  <% if collect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collect.errors.count, "error") %> prohibited this collect from being saved:</h2>

      <ul>
      <% collect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ph %>
    <%= f.text_field :ph %>
  </div>

  <div class="field">
    <%= f.label :turbidity %>
    <%= f.text_field :turbidity %>
  </div>

  <div class="field">
    <%= f.label :temperature %>
    <%= f.text_field :temperature %>
  </div>

  <div class="field">
    <%= f.label :conductivity %>
    <%= f.text_field :conductivity %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </div>

  <div class="field">
    <%= f.label :location_id %>
    <%= f.text_field :location_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
