<%= form_for(collect) do |f| %>
  <% if collect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collect.errors.count, "error") %> prohibited this collect from being saved:</h2>

      <ul>
      <% collect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

<%=  f.fields_for  :measures do |measure_form| %>


  <div class="field">
    <%= measure_form.label :ph %>
    <%= measure_form.text_field :ph %>
  </div>

  <div class="field">
    <%= measure_form.label :turbidity %>
    <%= measure_form.text_field :turbidity %>
  </div>

  <div class="field">
    <%= measure_form.label :temperature %>
    <%= measure_form.text_field :temperature %>
  </div>

  <div class="field">
    <%= measure_form.label :conductivity %>
    <%= measure_form.text_field :conductivity %>
  </div>


  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
