<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @collect.title %>
</p>

<%if @collect.measures.present? %>
    <h4> List of Measures</h4>
    <ul>
        <%@collect.measures.each do |measure| %>
          <li><strong><%= measure.id %>. </strong><%= measure.ph %></li>
        <%end%>
    </ul>    
<%end%>

<%= link_to 'Edit', edit_collect_path(@collect) %> |
<%= link_to 'Back', collects_path %>
