<p id="notice"><%= notice %></p>

<p>
  <strong>Ph:</strong>
  <%= @collect.ph %>
</p>

<p>
  <strong>Turbidity:</strong>
  <%= @collect.turbidity %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @collect.temperature %>
</p>

<p>
  <strong>Conductivity:</strong>
  <%= @collect.conductivity %>
</p>

<p>
  <strong>Date:</strong>
  <%= @collect.date %>
</p>

<%= link_to 'Edit', edit_collect_path(@collect) %> |
<%= link_to 'Back', collects_path %>
