<!DOCTYPE html>
<html>
<head>
  <title>Roboat</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <!-- Navigation -->
  <!-- <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
  <div class="navbar-header">
  <a class="navbar-brand" href="index.html">Roboat</a>
</div>
<!-- /.navbar-header -->
</nav> -->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Roboat</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Coletar</a></li>
        <li><a href="#about">Relatórios</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li>  <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></a></li></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div id="wrapper">
  <div class="container" style="min-height: 217px;">
    <!-- yield -->
    <%= yield %>
    <!-- yield -->
    <!-- /#page-wrapper -->
  </div>
</body>
</html>
